// @import "bootstrap";

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  padding: 1rem;
  background-color: lightblue;
}

.navbar-light {
  .navbar-brand {
    font-family: "Rum Raisin", sans-serif;
    //font-family: "Sulphur Point", sans-serif;
    font-size: 2rem;
    color: #ba1200;
    letter-spacing: 0;
  }
}

.nav-item {
  font-family: "Sulphur Point", sans-serif;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .nav-item {
    margin: 0 1rem;
  }
}
@media (min-width: 992px) {
  .nav-item {
    margin: 0 3rem;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .has-error,
  .form-control {
    color: red;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h2 {
      font-size: 1.1em;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
